.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 80%;
  margin: 0;
}

.app-sidenav {
  width: 230px;
}

.footer-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text {
  margin: 0 20px;
}

.footer-spacer {
  flex-grow: 1;
}