 <mat-toolbar color="primary">
    <button type="button" mat-button (click)="drawer.toggle()" class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>
    <span>My Employee App</span>
    <span class="example-spacer"></span>
    <button mat-fab extended color="primary" (click)="downloadToexcel()">
        <mat-icon>get_app</mat-icon>
        Download to excel
    </button>
  
        <a href="https://github.com/MiriamKrausz/DearRuthy" title="GitHub" target="_blank">
            <img src="../../../assets/images/github-mark.png" alt="GitHub" class="githubImg"/>
        </a>

</mat-toolbar>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <p>Auto-resizing sidenav</p>
          @if (showFiller) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
          }
          <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
          </button>
        </mat-drawer>

  
  

  

