<mat-toolbar  color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My Employee App</span>
    <span class="example-spacer"></span>
    <button mat-fab extended color="primary" (click)="downloadToexcel()">
        <mat-icon>get_app</mat-icon>
        Download to excel
    </button>
    <button mat-fab extended color="primary" (click)="addEmployee()">
        <mat-icon>add</mat-icon>
        Add Employee
    </button>
</mat-toolbar>