.table-container {
  padding-top:100px;
  width: 80%; /* רוחב הטבלה יהיה 60% מהאב בו היא מוצגת */
  overflow: auto; /* אם הטבלה יוצרת יתרון, יוצגו מקפים */
  margin: auto; /* הטבלה תישאר במרכז המסך */
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.actions-cell {
  white-space: nowrap; /* מניעת שורות לפקים */
}

.actions-cell div {
  display: flex;
  align-items: center;
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}



/* סגנון לאייקון של החיפוש */
.mat-form-field .mat-icon {
  margin-left: -35px; /* יישום אייקון של החיפוש לפני הטקסט */
}
