.table-container {
  width: 60%; /* רוחב הטבלה יהיה 60% מהאב בו היא מוצגת */
  // height: 60vh; /* גובה הטבלה יהיה 60% מגובה החלון הצפוי */
  overflow: auto; /* אם הטבלה יוצרת יתרון, יוצגו מקפים */
  margin: auto; /* הטבלה תישאר במרכז המסך */

}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.actions-cell {
  white-space: nowrap; /* מניעת שורות לפקים */
}

.actions-cell div {
  display: flex;
  align-items: center;
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

